<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/styles/navbar.css" media="screen"/> 
    </head>
<body>
    <ul class="sidenav">
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#bme280">BME280</a></li>
        <li><a href="#anemometro">Anemometro</a></li>
        <li><a href="#direzione">Direzione</a></li>
        <li><a href="#pluviometro">Pluviometro</a></li>
    </ul>

    <div class="content">
        <h2>Stazione Meteo Clan Atlas</h2>
        <p>Benvenuti nella versione 0.1-alpha dell'applicazione web relativa alla stazione meteo realizzata dal clan Atlas del gruppo Frosinone 3 Brownsea</p>
    </div>
</body>
</html> 